body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}

body>div:not(#error) {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

body>div>h2 {
	text-align: center;
}

option[title] {
	cursor: help;
}