#rd-form {
	font-size: 2em;
	padding: 0.5em 0.5em;
	margin: 1em 2em;
	border: 1px solid black;
	border-radius: 4px;
	background-color: #cccccc;
}

.rd-input {
	font-size: 1em;
}

#rd-form select>option {
	font-size: 0.5em;
}

#rd-form select>option[title] {
	background-color: #eeeeee;
}

.rd-item {
	display: grid;
	grid-template-columns: 5em auto;
	grid-template-areas: "desc input";
}

.rd-item>span:nth-child(1) {
	grid-area: desc;
	text-align: center;
	box-sizing: border-box;
	border-right: 2px solid gray;
}

.rd-item>span:nth-child(2) {
	grid-area: input;
	text-align: center;
}

.rd-input {
	min-width: 4em;
}

#rd-form-item-note {
	font-size: 0.8em;
	color: #ff8800;
}

#rd-submit {
	text-align: right;
	margin-right: 5em;
}

#rd-submit-button {
	background-color: darkgreen;
	color: white;
	font-size: 2em;
}