body>div:nth-child(3) {
	background-image: url("../img/calculator.svg");
	background-color: #00cbc5;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#res-main {
	background-color: #ffffffd0;
	margin: 0 10vw;
	padding: 1em 2em;
	font-size: 2em;
	border: 2px solid black;
	box-sizing: border-box;
	max-height: 100vh;
}

#res-main>div {
	text-align: center;
	border: 1px dashed black;
}

.rem-time-ms {
	color: gray;
	font-size: 0.75em;
}

.rem-imp {
	background-color: cyan;
}

.rem-imp, .rem-nor {
	display: grid;
	grid-template-areas: "item value";
	grid-template-columns: 5em auto;
	padding: 4px 0;
}

.rem-imp>span:nth-child(1), .rem-nor>span:nth-child(1) {
	grid-area: item;
	border-right: 1px solid black;
	box-sizing: border-box;
}

#report {
	margin: 10vh 10vw 0 10vw;
	background-color: #ffffccd0;
	text-align: center;
}

#report>span {
	display: inline-grid;
	grid-template-areas:
	"num res time"
	"ques ques ques"
	"ans ans faults";
	grid-template-columns: 3rem 3rem 7rem;
	grid-template-rows: 3rem auto 3rem;
	word-break: break-all;
	border: 2px solid black;
	margin: 1rem;
	place-items: center;
}

#report .red {
	color: red;
}

#report .green {
	color: green;
}

#report>span>span {
	display: inline-block;
    width: 100%;
    height: 100%;
}

#report>span>span:nth-child(1) {
	grid-area: num;
	font-size: 2rem;
	background-color: #dddddd;
}

#report>span>span:nth-child(2) {
	grid-area: res;
	font-size: 2rem;
	font-weight: bold;
	background-color: #bbbbff;
}

#report>span>span:nth-child(3) {
	grid-area: time;
	font-size: 1.5rem;
	background-color: #bbffbb;
}

#report>span>span:nth-child(4) {
	grid-area: ques;
	background-color: #ffddbb;
}

#report>span>span:nth-child(5) {
	grid-area: ans;
	font-size: 2rem;
	background-color: #dddddd;
}

#report>span>span:nth-child(6) {
	grid-area: faults;
}