h2{
    margin-top: 4vh;
    text-align: center;
}

#progressbar{
    padding: 0;
    margin: 4vh 10vw 6vh 10vw;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    background-image: linear-gradient(90deg, springgreen 0%, springgreen calc(var(--width) * 1%), 
    white calc(var(--width) * 1%), white 100%);
    width: 80vw;
}

#property{
    background-color: #bbbbff;
    margin: 3vh 10vw 6vh 10vw;
}

#property>div>span{
    text-align: center;
    display: inline-block;
}

#property>div>span:nth-child(1){
    border-right: 1px solid #999999;
    width: 60%;
}

#property>div>span:nth-child(2){
    width: 37%;
    color: darkorange;
}

#haveUseTime>span:nth-child(2),#haveUseTime>span:nth-child(3){
    color: darkgray;
    font-size: 0.7em;
}

.left,.right{
    display: inline-block;
    width: 49%;
    border: 3px solid #555555;
    font-size: 24px;
}

#qanda{
    background-color: #bbffbb;
    margin: 0 10vw 6vh 10vw;
}

#question{
    text-align: center;
    font-size: 36px;
    word-break: normal;
}

#question>span{
    font-weight: 700;
    color: #bb8811;
    display: inline-block;
    width: calc(80vw - 180px);
}

#answer{
    text-align: center;
    font-size: 36px;
}

#answer>input{
    width: calc(80vw - 180px);
    text-align: center;
}

input,select{
    font-size: 1em;
}

#qanda p{
    margin: 0;
    line-height: 64px;
}

#buttons{
    text-align: right;
}

#buttons>input{
    background-color: darkgreen;
    color: white;
    font-size: 24px;
    margin: 8px 50px 20px 0px;
}

.none-display{
    display: none;
}

.green{
    color: #00bb00;
}

.red{
    color: #ff0000;
}

#tipsResult{
    margin: 0 10vw;
    font-size: 36px;
    background-color: #ffbbff;
    padding: 18px 36px;
}