body{
    background-image: url("../calc.jpg");
    background-color: #00cbc5;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0;
    padding: 0;
}


table{
    position: relative;
    top: calc(50vh - 337px);
    margin: 0 auto;
    font-size: 36px;
    background-color: #ffffffaa;
    text-align: center;
}

td{
    padding: 8px 32px;
}

#r2,#r4,#r8,#r9{
    background-color: #00ffffaa;
}

.gray{
    color: gray;
    font-size: 0.8em;
}